<% include partials/header %>
<div class="container">
    <div class="row">
        <% blogs.forEach(function(blog){ %>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img
                        src="<%= blog.image %>"
                        alt="blog.image"
                        width="100%"
                    />
                    <span class="card-title"><%= blog.name %></span>
                    <a
                        class="btn-floating halfway-fab waves-effect waves-light red"
                        ><i class="material-icons">add</i></a
                    >
                </div>
                <div class="card-content"><p><%= blog.description %></p></div>
                <div class="card-action">
                    <a href="blog/<%= blog.id %>" class="purple-text"
                        >View More..............</a
                    >
                    <a
                        href="blog/delete/<%= blog.id %>"
                        class="right purple-text"
                        >delete</a
                    >
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<div class="fixed-action-btn">
    <a
        href="blogs/new"
        class="btn-floating fixed btn-large waves-effect waves-light red"
        ><i class="material-icons">add</i></a
    >
</div>

<% include partials/footer %>
